.carousel {
    margin: auto;
    width: 25em;
    height: 25em;
    border: 1em black solid;
}
.logo {
    display: flex;
    justify-content: center;
    height: 13em;
    width: 13em;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 2em;

}
 .navbar-toggler-icon {
 background-color: white;
 }

  .navbar{
    position: fixed;
    top: 0;
    width:100%;
    margin:auto;
  }

