.carousel {
    margin: auto;
    width: 25em;
    height: 25em;
    border: 1em black solid;
}
.logo {
    display: flex;
    justify-content: center;
    height: 13em;
    width: 13em;
    margin: auto;
    padding: 1em;

}
 .navbar-toggler-icon {
    background-color: gray;
  }
  .navbar{
    background-color: black;
    position: fixed;
    top: 0;
    width:100%;
    margin-bottom: 1em;
  }
